body {
    width: 100vw;
    height: 100vh;
}
.audioPlayer{
    /* width: 100%; */
    height: 100%;
    background-image: url('../assets/img/a-ha.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.audioPlayer__wrapper{
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audioPlayer__container{

}

.audioPlayer__button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: all 0.1s ease;
    border: 2px solid;
    /* background-color: #008CBA; */
}

.audioPlayer__button:hover{
    cursor: pointer;
    background-size: 70%;
}

.audioPlayer__play{
    background-image: url('../assets/icons/play.svg');
}

.audioPlayer__pause{
    background-image: url('../assets/icons/pause.svg');
}

.audioPlayer__prev{
    background-image: url('../assets/icons/back.svg');
}

.audioPlayer__next{
    background-image: url('../assets/icons/next.svg');
}
