html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    max-width: 1000px;
}

.header__input{
    display: block;
    width: 20%;
    height: 2rem;
    padding: 5px;
    line-height: 2rem;
    font-size: 1.5rem;
}

.cardList{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,282px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.cardList__image{
    margin: 0;
    width: 100%;
    height: 282px;
    object-fit: cover;
    object-position: center;
}

.cardList__item{
    display: block;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #fff;
    padding: 5px;
    max-height: 30px;
    width: 80%;
    max-width: 1000px;
}

.footer__text{
    margin: 0;
}

.footer__link{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
}

.footer__link:visited{
    color: black;
    text-decoration: none;
}

.footer__link:hover{
    cursor: pointer;
    border-bottom: 1px solid;
    color: rgb(226, 43, 43);
}

.footer__logo{
    min-height: 30px;
    width: auto;
    object-fit: cover;
    transition: background-color 0.5s ease 0.1s;
}

.footer__logo:hover {
    cursor: pointer;
    background-color: rgb(230, 227, 32);
}