.contacts__columns {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 57px;
}

.contacts__column_title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.contacts__column_list {
  list-style-type: none;
  margin: 0;
  padding: 40px 0 20px;
}

.contacts__column_list-item,
.contacts__column_text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.contacts__column_list-item:last-of-type {
  margin-bottom: 0;
}

.contacts__column_mail {
  font-weight: 700;
}

.contacts__phone, .contacts__column_mail{
  text-decoration: none;
  color: inherit;
}
.contacts__phone:hover, .contacts__column_mail:hover{
  text-decoration: underline;
  color: #BB945F;
}