.about__list_slider {
  display: flex;
  max-height: 560px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about__slider_image {
  max-width: 450px;
}
.about__list_slider-item {
  margin-right: 25px;
}

.about__list_slider-item:last-of-type {
  margin-right: 0;
}
