html{
    width: 100vw;
    height: 100vh;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    min-width: 70vh;
    min-height: 70vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2px;
}

.cell{
    box-sizing: border-box;
    background-color: red;
    border: 1px solid black;
    width: calc(70vh / 3);
    height: calc(70vh / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover{
    cursor: pointer;
    scale: 1.1;
}

.cell_x{
    background-color: green;
    transition: background-color 0.5s ease;
}

.cell_x:hover, .cell_o:hover{
    scale: 1;
    cursor: not-allowed;
}

.cell_o{
    background-color: yellow;
}